h1{
    /* 글씨체 */
    font-family: 궁서체;
    /* 텍스트 크기 */
    font-size: 64px;
    /* 텍스트 두께 */
    font-weight: 900;
    /* 텍스트 스타일 */
    font-style: italic;
    /* 글자 색 */
    color: black;
    /* 데코레이션 */
    text-decoration: none;
    /* 트랜스폼 */
    text-transform: capitalize;
    /* 그림자 */
    text-shadow: 
    0px 0px 4px gray ,
    0px -5px 4px #ff3 ,
    0px -10px 4px #fd3 ,
    -2px -15px 11px #f80 ,
    2px -19px 18px #f20;
    /* 글자 간격 */
    letter-spacing: 1px;
    /* 단어 간격 */
    word-spacing: 100px;
}
p{
    /* 문단 스타일 */
    text-align: center;
    
}
div{
    /* overfolw */
    background-color: gray;
    width: 100px;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}