h1{
    background-color: red;
}

#target{
    background-color: blue;
    width: 50vw;
    height: 50vh;
}

#a{
    width: 300px;
    height: 300px;
    border: 5px solid black;
}
#b{
    width: 50%;
    height: 50%;
    background-color: gray;
}
span{
    display: inline-block;
    background-color: green;
    width: 50px;
    height: 50px;
/*  보더(테두리)는 세분화 가능
    border-width 10px;
    border-style: dashed;
    border-color: red;
    border-top: 3px solid violet;
    border-bottom: 3px solid blue;
    border-left: 3px solid red;
    border-right: 3px solid black; */
    border: 3px solid red;
    border-radius: 10px;
}
.box{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: gray;
    display: inline-block;
    /* 폰트사이즈에서 em은 부모요소 기준배수를 의미
    rem은 최상단 기준 사이즈 */
    font-size: 2.5em;

    /* 패딩 : 내용물과 테두리 사이 여백 */
    /* padding: 30px; */
    /* 마진 : 요소 주변 여백 */
    /* margin: 30px; */
}
.test{
    background-color: lightgray;
    /* relative : 상대위치 */

}
#t01{
    /* static : 문서의 흐름에 따라 배치 */

    /* 상대위치 :원래의 내 위치 기준으로 이동 */
    /* position: relative;
    top: 50px;
    bottom: 50px;
    left: 50px; */

    /* 절대 위치 : 부모 기준으로 이동 but,아무나 부모로 안해줌
    부모값이 static인경우 인정안됨 relative 포지셔닝 필요 */
     /* position: absolute;
     left: 50px;
     top: 100px;
    bottom: 00px; */

    /* 고정 위치 : 화면 기준 */
    /* position: fixed;
    left: 50px;
    top: 50px; */

    /* 스티키 : fixed 인데, 부모를 벗어나지 못함 */
    position: sticky;
    left: 50px;
    top: 50px;

}
#outer{
    position: relative;
    width: 400px;
    height: 400px;
    border: 5px dashed black;
}

