h1{
    background-color: red;
}

#target{
    width: 100px;
    height: 100px;
    background-color: gray;
    font-size: 2em;
    border: 3px dashed black;

}
#target:hover{
    background-color: green;
    /* transform: translate(10px,50px); */
    /* transform: scale(3); */
    /* transform: skew(30deg,45deg); */
    /* transform: rotate(-45deg); */
}

#target2{
    width: 100px;
    height: 100px;
    border: 3px dashed black;
    background-color: lightgray;
    font-size: 2em;

}
#target2:hover{
    transform: perspective(170px) translateZ(100px);
    /* transform:  perspective(100px) rotateX(45deg); */
    
}