h1{
    background-color: red;
}
#target{
    width: 100px;
    height: 100px;
    border: 3px dashed black;
    background-color: blue;
}
#target:hover{
    transform: translateY(200px);
    background-color: green;
    /* transition-duration: 2s; */
    /* transition-delay: 2s; */
    /* transition-timing-function: linear; */
    /* transition-property: transform;  */
    transition: transform linear 2s 1s;    
}
/* 애니메이션 */
#t{
    width: 100px;
    height: 100px;
    border: 3px dashed black;
    background-color: lightgray;
}
#t:hover{
    background-color: violet;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate-reverse; */
    animation-fill-mode: both;
}
#t:active{
    animation-play-state: paused;

}

/* @keyframes 애니메이션이름{
시작{~~~~}
중간{~~~~}
끝{~~~~}
} */
 
@keyframes changeColor{
    0%{background-color: red;}
    50%{background-color: green;}
    100%{background-color: blue;}
}

#abc{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: violet;
    font-weight: 700;
}
#abc:hover{
    animation-name: jelly;
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    cursor: pointer;
    
}
#abc:active{
    animation-play-state: paused;
}
@keyframes jelly{
    0%{transform: scale(1.2,0.8);}
    12%{translate: 200px;}
    25%{transform: scale(0.9,1.1);}
    50%{transform: scale(1.1,0.9);}
    75%{transform: scale(0.8,1.2);}
    100%{transform: scale(1.2,0.8);}
}
.loading{
    width: 30px;
    height: 30px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    border-top: 3px solid rgb(255, 136, 0);
    animation-name: spinner;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.loading:active{
    animation-play-state: paused;
}
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}