body{margin: 0;}
h1{
    padding: 0;
    margin: 0;
}
#target{
    border: 5px solid black;
    width: 400px;
    height: 400px;
    
    display: grid;
    /* 아래 3가지는 모두 동일함 */
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(4, 100px); */
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    
    grid-auto-rows: 50px;
    /* justify-items: center;
    align-items: center; */
    place-items: strech strech;

    /* justify-content: center;
    align-content: center; */
    place-content: center;
}
#target>span:first-child{
    background-color: red;
    /* grid-column: span 2; */
    grid-row: span 2;
}
