body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 0.5fr 5.5fr 1fr;
    grid-template-columns: 1fr;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
}
.menu{
    background-color: gray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sub{
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    top: 35px;
    padding-top: 50px;
}

.menu:hover > .sub{
    display: block;
}