.home{
    width: 500px;
    height: 500px;
    border: 2px solid red;
   
}
#a{
    width: 100px;
    height: 80px;
    border: 1px solid red;
    display: inline-block;

}
#b{
   width: 300px;
    height: 80px;
    border: 1px solid red; 
    display: inline-block;
}
#c{
    width: 95px;
    height: 80px;
    border: 1px solid red; 
    display: inline-block;
}
#d{
    width: 498px;
    height: 27px;
    border: 1px solid red; 
    display: inline-block;
}
#e{
    width: 80px;
    height: 300px;
    border: 1px solid red;
    border-bottom: 2px solid red; 
    display: inline-block;
}
#f{
    width: 300px;
    height: 300px;
    border: 1px solid red; 
    border-bottom: 2px solid red; 
    display: inline-block;
}
#g{
    width: 115px;
    height: 300px;
    border: 1px solid red; 
    border-bottom: 2px solid red; 
    display: inline-block;
}