.home{
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

#a{
    width: 500px;
    height: 100px;
    border-bottom: 2px solid red;
}

#b{
    width: 500px;
    height: 20px;
    border-bottom: 2px solid red;
}

#c{
    width: 500px;
    height: 300px;
    border-bottom: 2px solid red;
}