h1{
    color: #f80;
    font-family: 궁서체;
    background-color: rgb(196, 222, 240);
    text-align: center;
    text-shadow:0px 0px 4px #ccc ,
                0px -5px 4px #ff3 , 
                2px -10px 6px #fd3 , 
                -2px -15px 11px #f80 , 
                2px -19px 18px #f20 ;
}

#a{
    background-color: red;
}
#b{
    background-color: blue;
}
#c{
    color: violet;
}
span{
    background-color: green;
    width: 50px;
    height: 50px;
    display: inline-block
    border-width 10px;
    border-style: dashed;
    border-color: red;
    border-top: 3px solid violet;
    border-bottom: 3px solid blue;
    border-left: 3px solid red;
    border-right: 3px solid black;

}
.e{
    background-color: pink;
    width: 50px;
    height: 50px;
    display: inline-block
    border-width 10px;
    border-style: dashed;
    border-color: red;
    border-top: 2px solid skyblue;
    border-bottom: 4px solid blue;
    border-left: 4px solid red;
    border-right: 2px solid black;


}

