body{
    margin: 0;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 5fr 1fr 15fr 35px 4fr;
    grid-template-columns: 4fr 1fr 15fr 1fr 3fr;

    grid-column-start: 0;
    grid-column-end: 5;
    
}
#wrapper>*{
    border: 1px solid gray;
}

#wrapper>div:nth-child(1){
    grid-column: span 2;
    display: grid;
    place-content: center center;
    place-items: center center;
}
#wrapper>div:nth-child(2){
    grid-column: span 2; 
}
#wrapper>div:nth-child(2)>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper>div:nth-child(2)>div>input{
    width: 70%;
    height: 20%;
}
#wrapper>div:nth-child(2)>div>button{
    width: 20%;
    height: 25%;
}
#wrapper>div:nth-child(4){
    grid-column: span 5;
    font-size: 1.2em;
    font-weight: 700;
}
#wrapper>div:nth-child(4)>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#wrapper>div:nth-child(6){
    grid-column: span 2;
}
#wrapper>div:nth-child(7){
    grid-column: span 2;
 
}
#login{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#login>div{
    border: 1px solid gray;
    box-sizing: border-box;
}
#login>div:nth-child(1){
    width: 100%;
    height: 80%;
    display: flex;
}
#login>div:nth-child(1)>div:nth-child(1){
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#login>div:nth-child(1)>div:nth-child(2){
  
    width: 30%;
    height: 100%;
    display: flex;
}
#login>div:nth-child(2){
    width: 100%;
    height: 20%;
}

#login input{
    width: 100%;    
}
#login button{
    width: 100%;
}
#login>div:nth-child(2)>button{
    width: 50%;
    height: 100%;
    white-space: nowrap;
}
#wrapper>div:nth-child(8){
    grid-column: span 5;
}
#wrapper>div:nth-child(9){
    grid-column: span 5;
}
a{
    text-decoration: none;
    color: orange;
}
a:hover:visited{
    color: blue;
    cursor: pointer;
    text-decoration: underline;

}
a:visited{
    text-decoration: none;
    color: orange;
}
#footer{
    display: flex;
    justify-content: space-evenly;
    padding-right: 50%;
    
}
span{
    justify-content: space-evenly;
    white-space: nowrap;
    font-size: 1.2em;
    font-weight: 700;
}