h1{
    color: red;
}

.home{
    position: relative;
    width: 500px;
    height: 400px;
    border: 2px solid red;
}
#a{
    width: 150px;
    height: 90px;
    border: 1px solid red;
    display: flex;
}
#b{
    width: 350px;
    height: 90px;
    border: 1px solid red;
    display: flex;
    position: relative;
    bottom: 92px;
    left: 150px;
}
#c{
    width: 80px;
    height: 230px;
    border: 1px solid red;
    display: flex;
    position: relative;
    bottom: 92px;
}
#d{
    width: 100px;
    height: 230px;
    border: 1px solid red;
    display: flex;
    position: relative;
    bottom: 323px;
    left: 400px;
}
#e{
    width: 320px;
    height: 230px;
    border: 1px solid red;
    display: flex;
    position: relative;
    bottom: 555px;
    left:80px
}
#f{
   width: 500px;
    height: 77px;
    border: 1px solid red;
    display: flex;
    position: relative;
    bottom: 555px;
    
}