body{
    background-color: #f0f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
main{
    background-color: white;
    width: 53vw;
    height: 43vh;
    border-radius: 30px;
    padding: 50px;
    box-sizing: border-box;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
#left{
    display: grid;
    grid-template-rows: 50px 50px 30px;
    grid-template-columns: 1fr;

    & > div:nth-child(1){
        font-size: 2em;
    }

    & > div:nth-child(2){
        font-size: 2em;
        font-weight: 400;
        white-space: nowrap;

    }
}
#right{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    & > div > input{
        width: 400px;
        height: 50px;

    }

    & > div:nth-child(4){
        display: flex;
        justify-content: end;

    }
    & > div > button{
        width: 80px;
        height: 45px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 20px;
    }
}
