#enroll-area{

    background-color: lightgray;
    width: 50vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    &>input{
        border-radius: 5px;
        font-size: 1.2em;
    }
}

#card-area{
    width: 90vw; 
    margin: 0 auto;
    background-color: rgba(238, 130, 238, 0.5);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.card{
    width: 110px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
}