html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

aside{
    width: 100%;
    height: 100vh;
    background-color: violet;
    margin-left: -150px;
    transition: .7s;
}

aside.active{
    margin-left: 0px;
}

