main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center center;
}

main table{
    border: 3px solid black;
    border-collapse: collapse;
}
main table td,
main table th{
    border: 1px solid black;
}