html,body{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 200px 100px 1fr;
    grid-template-columns: 1fr;
}

header{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr;

    & > div{
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(2) > a {
            text-decoration: none;
            background-color: black;
            color: white;
            padding: 30px 150px;
            border-radius: 20px;
            font-size: 2em;
            font-weight: 900;
            letter-spacing: 30px;

            &:hover{
                background-color: lightgray;
                color: black;
            }

        }
    }
}

nav{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    place-items: center center;

    &>a{
        font-size: 1.2em;
        font-weight: 700;
        text-decoration: none;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 15px 50px;

        &:hover{
            background-color: lightgray;
            color: black;
        }
    }
}

